body {
	background-color: #222222;
	margin: 0;
  padding: 0px;
  overflow: hidden;
  min-height: 750px;
  min-width: 750px;
  max-height: 750px;
  max-width: 750px;  
}
/* quoteGrabber styling */

    div:first-child {
      margin-top: 0px;
    }

    .sidePanel {
      cursor: pointer;
      text-align: center;
      /* padding: 30px 15px;  */
      font-family: sans-serif;
      font-size: 1.1em;
      width: 120px;
      height: 120px;
      margin-top: 1px;
      background: #222222;
      color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .sidePanel:hover {
      background: #333333;
    }
    #quoteGrabber:hover + #qGTextArea {
      display: block;
    }
    
/* quoteGrabber styling */
    #qGTextArea {
      float: right;
      height: 600px;
      width: 600px;
      text-align: center;
      font-family: sans-serif;
      font-size: 1.1em;
      visibility: hidden;
      background: #222222;
      color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    /* end of grabber styling */
     
    /* colors styling */
     #palette{
      font-size: 12px;
      margin-left: 10px;
  }
  .color-picker-popup{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: white;
      padding-left: 2%;
      padding-top: 10%;
      padding-right: 10%;
      visibility: hidden;
  }
  .color-picker-popup .table >.row:first-child{
      display:flex;
  }
   .color-picker-popup .table .col:nth-child(2){
        width: 60%;
  }
  #color-history-elements {
      border-spacing: 10px;
      border-collapse: separate !important;
  }
  #color-history{
      overflow-y:auto;
      height: 260px;
      margin-top: 15%;
  }
  #color-history-elements td{
      cursor: pointer;
      width:50px; 
      height:50px;
  }
  #historyTitle{
      position: relative;
      top: 10px;
      font-size: 20px;
      font-weight: bold;
  }

  /* end of color styling */